# KubeRAG Application Configuration

# ChromaDB
CHROMA_HOST=localhost
CHROMA_PORT=8000

# Ollama
OLLAMA_URL=http://ollama:11434/api/generate
OLLAMA_MODEL=llama3.2:1b

# MLflow
MLFLOW_TRACKING_URI=http://127.0.0.1:30500

# Model
HEALTH_MODEL_PATH=models/cluster_health_model.pkl